<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page! EIEI</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
    <div class="ui-sound" style="pointer-events: auto; opacity: 1;"> 
        <button class="ui ui-sound can-transition sound-off" id="sound">
            <div class="sound-icons">
              <img class="sound-on" src="static/icon/SoundOn.png" alt="On" style="display: none;">
              <img class="sound-off" src="static/icon/SoundOff.png" alt="Sound Off">
            </div>
        </button>
    </div>
    <div class="ui-enter-main" style="pointer-events: auto; opacity: 1;">
        <h1>Welcome, To Chatbot</h1>
        <a href="/main"> 
            <button>Go to Main Page</button>
        </a>
    </div>
    <script src="/static/welcome.js"></script>
</body>
</html>
